{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
	<div>
		{{ form_row(form.name) }}
	</div>
	<div>
		{{ form_row(form.crm) }}
	</div>
</div>

<div>
	{{ form_row(form.specialty) }}
</div>

<div>
	{{ form_row(form.imageFile) }}
</div>

<div>
	{{ form_row(form.bio) }}
</div>

<div class="mb-6">
	{{ form_row(form.isActive, {
        'label': 'Médico Ativo no Site',
        'attr': {
            'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
        },
        'label_attr': {
            'class': 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300'
        }
    }) }}
</div>

<div class="flex justify-end">
	<button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">{{ button_label|default('Salvar') }}</button>
</div>

{{ form_end(form) }}
