{{ form_start(form) }}
    <div class="grid gap-6">
        <div class="grid md:grid-cols-2 gap-4">
            <div>
                {{ form_label(form.year, null, {'label_attr': {'class': 'block text-sm font-medium text-slate-700 mb-1'}}) }}
                {{ form_widget(form.year) }}
                {{ form_errors(form.year) }}
            </div>
             <div>
                {{ form_label(form.sortOrder, null, {'label_attr': {'class': 'block text-sm font-medium text-slate-700 mb-1'}}) }}
                {{ form_widget(form.sortOrder) }}
                {{ form_errors(form.sortOrder) }}
            </div>
        </div>

        <div>
            {{ form_label(form.title, null, {'label_attr': {'class': 'block text-sm font-medium text-slate-700 mb-1'}}) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div>
            {{ form_label(form.description, null, {'label_attr': {'class': 'block text-sm font-medium text-slate-700 mb-1'}}) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div>
            {{ form_label(form.imageFile, null, {'label_attr': {'class': 'block text-sm font-medium text-slate-700 mb-1'}}) }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100'}}) }}
            {{ form_errors(form.imageFile) }}
        </div>
    </div>
    
    <div class="mt-8 flex justify-end">
        <button class="btn bg-blue-600 text-white px-6 py-2.5 rounded-lg shadow-md hover:bg-blue-700 transition font-medium">
            {{ button_label|default('Salvar') }}
        </button>
    </div>
{{ form_end(form) }}
